<section class = "container-fluid profile top-user-profile">

<div class="user-appearance">
  <div>
    <img class ="profile-pic" src="{{userInSession.profileImage}}" alt="" height="350px">
    
  </div>
  <div class ="about">
    <div>
      <h2>{{userInSession.username}}</h2>
    </div>
    <div>
      <p>{{userInSession.about}}</p>
    </div>
  </div>
</div>
<a class="edit-button" href="/userprofile/edit">Edit Profile</a>
</section>

<section>
<div class ="bottom-user-profile">
<a href="/outfit/create">Upload more outfits</a>

{{#each userInSession.outfitArray}}
<div class="outfit-array ">
    <div class ="outfit-images">
    <h2>{{this.title}}</h2>
    <img class ="outfit-images col-lg-4 col-md-6" src="{{this.imageUrl}}"/>  
    </div>
    <button type="button" class="btn btn-link"><a href="/outfits/{{this._id}}/delete">Delete</a></button>
</div>

{{/each}}
</div>



</section>